@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.pokedex-s {
    padding: 0px 32px 20px 0px;
    display: inline-block;
}

.pokedex__card-s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FBFDFF;
    width: 221px;
    height: 271px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}

.pokedex__top-s {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
    margin: 0 6px;
}

.pokedex__top-s h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #233674;
}

.pokedex__top-s p {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #233674;
}

.pokedex__imagem-s {
    width: 222px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokedex__imagem-s img {
    position: absolute;
    width: 124px;
    height: 122px;
    display: block;
    margin: 0;
}

.pokedex__footer-s {
    margin: 136px 6px 0px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.pokedex__footer-one-s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 210px;
    text-align: start;
    margin-bottom: -30px;
}

.pokedex__footer-two-s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 210px;
    text-align: start;
}

.pokedex__footer-s h3 {
    color: #233674;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.pokedex__footer-s p {
    text-align: center;
    font-weight: 600;
    color: #233674;
    font-family: 'Nunito';
    font-size: 16px;
}