.home {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #EFF4FA !important;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    top: 16px;
}

.sub-container1 {
    position: absolute;
    width: 50%;
    height: 500px;
    left: 4%;
}

.sub-container1 img {
    width: 110px;
    height: 78px;
    margin-left: 29px;
}

.sub-container1 .text-container {
    margin-top: 5px;
    width: 450px;
    height: 100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    color: #2F3E77;
}

.sub-container1 .text-container > span {
    color: #EA686D;
}

.sub-container1 p {
    width: 560px;
    height: 30px;
    margin: 25px 0px;
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #2F3E77;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

input {
    position: absolute;
    width: 333px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px 0px 0px 5px;
}

.buscar {
    position: absolute;
    align-items: center;
    left: 333px;
    width: 108px;
    height: 43.5px;
    background: #EA686D;
    box-shadow: 0px 4px 15px #EA686D;
    border-radius: 0px 5px 5px 0px;
    font-family: var(--font-text);
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border-style: none;
}

.img__home {
    position: relative;
    width: 600px;
    height: 400px;
    left: 100px;
}

.img__home img {
    position: absolute;
    width: 162px;
    height: 302px;
    filter: drop-shadow(0px 15px 15px rgba(234, 104, 109, 0.1));
}

.img1 {
    top: 46px;
}

.img2 {
   top: 114px;
   left: 182px;
}

.img3 {
    top: 31px;
    left: 362px;
 }

.pokedex-procurados {
    display: block;
    width: 80%;
    height: 400px;
    margin-top: 28%;
    margin-left: auto;
    margin-right: auto;
    background: #EFF4FA;
}

.poke-title-button {
    position: absolute;
    bottom: 43%;
}

.poke-title-buttons > h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #2F3E77;
}