<div class="home">
    <div class="container">
        <div class="sub-container1">
            <img src="assets/Logo-03 1.svg" alt="logo-inicie">
            <h1 class="text-container">Explore o mundo dos <span>Pokémons</span></h1>
            <p>Descubra todas as espécies de Pokémons</p>
            
            <form id="search">
                <input type="text" #busca_poke required autocomplete="off" placeholder="Buscar Pokemon...">
                <button class="buscar" type="button" [disabled]="!busca_poke.value">Buscar</button>
            </form>
        </div>

        <div class="img__home">
            <img class="img1" src="assets/Rectangle1.png" alt="img1">
            <img class="img2" src="assets/Rectangle2.png" alt="img2">
            <img class="img3" src="assets/Rectangle3.png" alt="img3">
        </div>
    </div>

    <div class="pokedex-procurados">
        <div class="pokedex__container">
            <div class="poke-title-button">
                <h1>Pokédex</h1>
            </div>  
            <poke-list></poke-list>
        </div>
    </div>
</div>
