<swiper
  class="mt-4"
  [slidesPerView]="3"
  [grid]="{
    rows: 2,
    fill: 'row'
  }"
  [spaceBetween]="10"
  [grabCursor]="true"
  [autoplay]="{
    delay: 3000,
    disableOnInteraction: false
  }"
  [navigation]="true"
  [breakpoints]="{
    '@0.00': {
      slidesPerView: 1.2,
      spaceBetween: 10
    },
    '@0.75': {
      slidesPerView: 3,
      spaceBetween: 10
    },
    '@1.00': {
      slidesPerView: 4,
      spaceBetween: 10
    },
    '@1.50': {
      slidesPerView: 5,
      spaceBetween: 10
    }
  }"
>
<ng-template swiperSlide *ngFor="let pokemon of getAllPokemons">
  <div class="pokedex ">
      <a [routerLink]="['details', pokemon.status.id]" *ngIf="pokemon.status" class="pokedex__card">
          <span class="pokedex__top">
              <h2>{{ pokemon.name }}</h2>
              <p>#0{{ pokemon.status.id }}</p>
          </span>
          <section class="pokedex__imagem">
              <img [src]="pokemon.status.sprites.other.dream_world.front_default" alt="{{ pokemon.name }}">
          </section>
          <section class="pokedex__footer">
              <span class="pokedex__footer-one">
                  <h3>Altura:</h3>
                  <p>{{ pokemon.status.height }} cm</p>
              </span>
              <span class="pokedex__footer-two">
                  <h3>Peso:</h3>
                  <p>{{ pokemon.status.weight }} kg</p>
              </span>
          </section>
      </a>
  </div>
</ng-template>
</swiper>